.App {
  text-align: center;
  position: relative;
}

.NavBarH{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 2% 8px 1%;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.NavBarH img {
  width: 150px;
  object-fit:contain;
}

ul {
  list-style: none;
  display: flex;
}

.rubriquesH {
  width: 85%;
  justify-content: space-between;
}

.NavBarV{
  background-color: rgb(0, 0, 0);
  padding: 4% 30px 4% 0px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.rubriquesV {
  margin-top: 250px;
  width: 85%;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.copyright{
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}
 
.rubriquesV li{
  margin-bottom: 20px;
}


.info_user{
  float: left;
  padding-left: 10px;
  margin-top: -100px;
  font-family: 'Roboto';
  font-size: 25px;
}

section{
  margin-left: 150px;
}

.card_container {
  width: 20%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
}

.card{
  border-radius: 5px;
  background-color: #FBFBFB;;
  width: 100%;
  display: flex;
  text-align: left;
  height: 100px;
  padding: 10px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.card .image {
 margin-right: 20px;
 height: 80%;
 margin-top: 10px;
}
.card .image img{
  width: 80px;
  height: 100%;
  margin-right: 10%;
}

.container_activity {
  border-radius: 10px;
  background-color: #FBFBFB;;
  width: 70%;
  margin-top: 150px;
}

.secondary_container{
  width:73%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.secondary_container .container_average_session{
  width: 30%;
  border-radius: 10px;
  background: linear-gradient(90deg, #FF0000 75%, #d50000 25%);
  padding: 15px;
}
.container_average_session h2{
  text-align: left;
  color: rgba(255, 255, 255, 0.579);
  font-size: 30px;
  font-weight: 400;
  width: 75%;
}

.container_activity {
  width:70%;
  margin-top: 200px;
  position: relative;
  padding: 50px;
  padding-top: 80px;
  padding-right: 0px;
}

.container_activity .params_graph{
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin-right: 20px;
  right: 0;
  top: 0; 
  width: 30%;
}
.container_activity h2{
  position: absolute;
  margin-left: 20px;
  left: 0;
  top: 0;
}
.container_activity .graph_activity {
  margin-right: 10px;
  margin-left: 10px
};

.container_activity h2{
  text-align: left;
  margin-bottom: 20px;
  font-weight: 400;
  margin-right: 50%;
}

.container_activity p {
  font-size: 18px;
  font-weight: 500;
  color: #74798C;

}
.container_activity p img {
  margin-right: 10px;
}


.container_activity_perf{
  width: 32%;
  border-radius: 10px;
  border: solid 2px black;
  background-color: black;
}

.container_user_score{
  width: 32%;
  border-radius: 10px;
  background-color: #f6f7fa;
}

.container_user_score h3{
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 70px;
}

/*CUSTOMISED TOOLTIP*/

  /*BarChart*/
  .barChart .custom-tooltip{
    background-color: #FF0000;
    padding: 5px 10px;
  }

  .barChart .custom-tooltip .label{
    font-size: 15px;
    color: white;
  }

  /*LineChart*/
  .areaChart .custom-tooltip {
    background-color: #FBFBFB;
    padding: 2px 8px;
  }

  .areaChart .custom-tooltip .label_session {
    font-weight: bold;
  }